.hero{
    background-color: beige;
    padding: 1rem;
    text-align:start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .card_1{
        background-color: $grisclaro;
        grid-column: 1/2;
        padding:1rem;
        text-align: center;
        h2{
            font-size: 2rem;
            padding: 1rem 2rem;
            font-family: 'Kdam Thmor Pro', sans-serif;
        }
        ul{
            list-style-type: none;
            li{
                padding: 1rem 2rem;
                font-size: 1.5rem;
            }
            div{
                padding: 1rem 2rem;
                button{
                    padding: 1rem 2rem;
                    font-size: 1.3rem;
                    background-color: black;
                    a{
                        color: white;
                        text-decoration: none;
                        transition: 0.4s;
                        &:hover{
                            font-size: 1.5rem;
                        }
                    }
                }
            }
            p{
                padding: 1rem 2rem;
                font-size: 1.5rem;
                a{
                    color: white;
                    &:hover{
                        color: black;
                    }
                }
            }
        }
    }
    .card_3{
        background-color: $grisclaro;
        grid-column: 2/3;
        align-self: stretch;
        padding: 1rem;
        text-align: center;
        h2{
            font-size: 2rem;
            padding: 1rem 2rem;
            font-family: 'Kdam Thmor Pro', sans-serif;
        }
        .formulario{
            font-size: 1.5rem;
            padding:0 2rem;
            button{
                font-size: 1.3rem;
                padding: 1rem;
                background-color: black;
                color: white;
                margin-bottom: 1rem;
                border: 1px solid black;
                &:hover{
                    cursor: pointer;
                    border: 1px solid white;
                }
        }
        }
    }
    .card_2{
        background-color: $grisclaro;
        grid-column: 1/-1;
        padding:1rem;
        text-align: center;
        h2{
            font-size: 2rem;
            padding: 1rem 2rem;
            font-family: 'Kdam Thmor Pro', sans-serif;
        }
        ul{
            list-style-type: none;
            li{
                padding: 1rem 2rem;
                font-size: 1.5rem;
                iframe{
                    width:100%;
                    height: 300px;
                }
            }
        }
    }
}