.container{
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    .hero{
        background-color: $grisclaro;
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        .hero_text{
            width: 70%;
            text-align: center;
            h2{
                padding: 2rem;
                font-size: 4rem;
                text-align: start;
                font-family: 'Kdam Thmor Pro', sans-serif;
            }
            p{
                padding:0 2rem;
                font-size: 2rem;
            }
            button{
                padding: 1rem;
                background-color: black;
                font-size: 1.2rem;
                margin: 2rem;
                transition: 0.2s;
                a{
                    color: white;
                    text-decoration: none;
                }
                &:hover{
                    font-size: 1.6rem;
                }
            }
        }
        .hero_img{
            display: flex;
            justify-content: flex-end;
            width: 30%;
            img{
                width: 100%;
                padding: 1rem;
            }
            
        }
    }
    .cards{
        display: flex;
        .card1{
            @include cards (rgb(37, 37, 37))
        }
        .card2{
            @include cards (rgb(37, 37, 37))
        }
        .card3{
            @include cards (rgb(37, 37, 37))
        }
    }
}