.presupuestos_main{
    background-color: $grisclaro;
    margin: 1rem;
    div{
        padding: 1rem;
    }
    h2{
        font-size: 2rem;
        padding: 2rem;
        text-align: start;
        font-family: 'Kdam Thmor Pro', sans-serif;
    }
    p{
        font-size: 1.5rem;
        padding: 0.5rem 2rem;
        text-align: center;

    }
}