main{
    display: flex;
    .filtros{
        margin: 1rem;
        background-color: $grisclaro;
        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            li{
                list-style-type: none;
                font-size: 1rem;
                padding: 1rem;
                width: 100%;
                text-align: center;
                &:hover{
                    background-color: rgb(48, 48, 48);
                }
                a{
                    color: black;
                    text-decoration: none;
                    font-family: 'Kdam Thmor Pro', sans-serif;
                }

            }
        }
    }


    .productos_container{
        background-color: $grisclaro;
        margin: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $grisclaro;
            width: 20%;
            margin: 1rem;
            img{
                width:10rem;
                background-color: $grisclaro;
            }
            h2{
                font-size: 1rem;
                margin: .5rem;
            }
            p{
                font-size: 1rem;
            }
            button{
                font-size: 1rem;
                padding: 1rem;
                color: white;
                background-color: black;
                margin: .5rem;
                border: 3px solid black;
                &:hover{
                    border: 3px solid white;
                    cursor: pointer;
                }
            }
        }
    }
}