.servicios_iconos{
    margin: 1rem;
    ul{
        list-style-type: none;
        display: flex;
        justify-content: center;
        li{
            padding: 1rem;
            width: 16.66%;
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                width: 100px;
            }
            p{
                display: none;
                text-align: center;
                padding: .5rem;
                
            }
        }
    }
}

.section_servicios{
    margin: 1rem;
    background-color: $grisclaro;
    /*h2{
        text-align: center;
        font-size: 5rem;
        font-family: 'Kdam Thmor Pro', sans-serif;
    }*/
    .servicios{
        text-align: start;
        list-style-type: none;
        li{
            font-size: 2rem;
            padding: 1rem 2rem;
            font-family:'Kdam Thmor Pro', sans-serif;
            font-weight: 600;
        }
        p{
            font-size: 1.5rem;
            padding:1rem 2rem;
        }
    }
    
    .imagenes{
        display: flex;
        overflow: hidden;
        padding: 1rem;
        img{
            width: 25%;
        }

    }
}